<!-- NAV BAR  -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/"><img src="/Logo/logo1.png"/></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!--         <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user != nil %>
          <li><a href="#">Log in as: <%= current_user.email %></a></li>
        <% end %>
        <li><%= link_to "sign_out", sign_out_path, method: :delete %></li>
       
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end of navbar -->



<% a = 0 %>
<%@project.each_with_index do |x, indx| %>
	<% if a == 0 %>
		<% if indx.even? %>
			<div class="bla" style="background: url(/1.jpg) 50% 0 repeat fixed;">
				<div class="story">
					<div class="float-left">
						<h1><%= x.title%></h1>
						<br>
						<h5>Languages: </h5>
						<% x.languages_required.each do |y| %>
						<%= y%>
						<br>
						<%end%>
						<br>
						<div class="description" style="display: none;"><h5>Description: </h5><%=x.description%><br>
						<% n = 0 %>
						<% c = Developer.find_by(users_id: current_user[:id]) %>
						<% if c %>
						<% if x.developers_id.include?(c.id) %>
							<a href="javascript:click1(<%=x.id%>)" class="leave" id='<%=x.id%>'>Leave this project</a>
						<% else %>
							<a href="javascript:click2(<%=x.id%>)" class="join" id1='<%=x.id%>'>Join this project</a>
						<% end %>
						<% else %>
						<% end %>
						<a href="" class="hide_desrcipt"> | Hide this</a>
						  <%= link_to like_project_path(x), class: "upvote", method: 'get', remote: true do %>
	     				  <button type="button" class="btn btn-info" aria-label="Left Align">
	       				  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
	       				  <span class="upbadge"><%= x.get_upvotes.size %></span>
	     				  </button>
	     			  <% end %>  
						  <%= link_to dislike_project_path(x), class: "downvote", method: 'get', remote: true do %>
	     				  <button type="button" class="btn btn-info" aria-label="Left Align">
								  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
								  <span class="downbadge"><%= x.get_downvotes.size %></span>
							  </button>
	   				  <% end %></div>
						<a href="" class="show_more_btn">Show more >></a>
					</div>
				</div>
			</div>
			<% indx+=1 %>
			<% if indx == @project.size %>
				<div class="bla" style="background: url(/1.jpg) 50% 0 repeat;">
			<% end %>
		<% else %>
			<div class="bla1" style="background: url(/2.jpg) 50% 0 repeat fixed;">
				<div class="story">
					<div class="float-right">
						<h1><%= x.title%></h1>
						<br>
						<h5>Languages: </h5>
						<% x.languages_required.each do |y| %>
						<%= y%>
						<br>
						<%end%>
						<br>
						<div class="description" style="display: none;"><h5>Description: </h5><%=x.description%><br>
						<% n = 0 %>
						<% c = Developer.find_by(users_id: current_user[:id]) %>
						<% if c %>
						<% if x.developers_id.include?(c.id) %>
							<a href="javascript:click1(<%=x.id%>)" class="leave" id='<%=x.id%>'>Leave this project</a>
						<% else %>
							<a href="javascript:click2(<%=x.id%>)" class="join" id1='<%=x.id%>'>Join this project</a>
						<% end %>
						<% else %>
						<% end %>
						<a href="" class="hide_desrcipt"> | Hide this</a>
						  <%= link_to like_project_path(x), class: "upvote", method: 'get', remote: true do %>
	     				  <button type="button" class="btn btn-info" aria-label="Left Align">
	       				  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
	       				  <span class="upbadge"><%= x.get_upvotes.size %></span>
	     				  </button>
	     			  <% end %> 
						  <%= link_to dislike_project_path(x), class: "downvote", method: 'get', remote: true do %>
	     				  <button type="button" class="btn btn-info" aria-label="Left Align">
								  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
								  <span class="downbadge"><%= x.get_downvotes.size %></span>
							  </button> <% end %>
							  </div>  
						<a href="" class="show_more_btn">Show more >></a>
					</div>
				</div>
			</div>
			<% indx+=1 %>
			<% if indx == @project.size %>
				<div class="bla" style="background: url(/1.jpg) 50% 0 repeat;">
			<% end %>
				
		<% end %>		
	<% end %>	
<% end %>

<script type="text/javascript">
	$('.show_more_btn').click(function(event){
		event.preventDefault();
		$(this).prev().show();
		$(this).hide();
	})
	$('.hide_desrcipt').click(function(event){
		event.preventDefault();
		$(this).parent().next().show();
		$(this).parent().hide();
	})
	function click2(x){
		$.ajax({
			method: 'get',
			url: '/add_dev',
			data: {'project_id': x}
		}).done(function(response){
			a = response[0];
			$('a[id1 = '+a+']').before('<a href="javascript:click1('+a+')" class="leave" id='+a+'>Leave this project</a>');
			$('a[id1 = '+a+']').remove();
		})
	}
	function click1(x){
		$.ajax({
			method: 'get',
			url: '/add_dev_leave',
			data: {'project_id': x}
		}).done(function(response){
			a1 = response[0];
			$('a[id = '+a1+']').before('<a href="javascript:click2('+a1+')" class="join" id1='+a1+'>Join this project</a>');
			$('a[id = '+a1+']').remove();
		});
	}

</script>

