<% i = 1 %>
<%@project.each do |x| %>
	
	<% if i.odd? %>
		<div class="bla" style="background: url(/1.jpg) 50% 0 repeat fixed;">
			<div class="story">
				<div class="float-left">
					<h1>Title: </h1>
					<%= x.title%>
					<br>
					Languagase: <br>
					<% x.languages_required.each do |y| %>
					<%= y%>
					<br>
					<%end%>
					<div class="description" style="display: none;">Description: <br><%=x.description%><br><a href="" class="join">Join this project</a><a href="" class="hide_desrcipt"> | Hide this</a></div>
					<a href="" class="show_more_btn">Show more</a>
				</div>
			</div>
		</div>
		<% i+=1 %>
	<% else %>
		<div class="bla1" style="background: url(/2.jpg) 50% 0 repeat fixed;">
			<div class="story">
				<div class="float-right">
					<h1>Title: </h1>
					<%= x.title%>
					<br>
					Languagase: <br>
					<% x.languages_required.each do |y| %>
					<%= y%>
					<br>
					<%end%>
					<div class="description" style="display: none;"> Description: <br><%=x.description%><br><a href="" class="join">Join this project</a><a href="" class="hide_desrcipt"> | Hide this</a></div>
					<a href="" class="show_more_btn">Show more</a>
				</div>
			</div>
		</div>
		<% i+=1 %>
	<% end %>
<%end%>
<script type="text/javascript">
	$('.show_more_btn').click(function(event){
		event.preventDefault();
		$(this).prev().show();
		$(this).hide();
	})
	$('.hide_desrcipt').click(function(event){
		event.preventDefault();
		$(this).parent().next().show();
		$(this).parent().hide();
	})
	
</script>

<%= link_to "main", '/'%>